@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}
:root {
  --background: #0a0a0a;
  --foreground: #d9d9d9;
  --secondary-text: #999999;
  --secondary-background: #1a1a1a;
}
@theme {
  --breakpoint-md: 990px;
}

body,
html {
  background-color: var(--background);
  color: var(--foreground);
}

.navLink {
  @apply font-semibold rounded-3xl hover:font-bold transition-all duration-400;
}

.highlight__panel.js-actions-panel {
  display: none !important;
}
pre > code {
  @apply rounded-sm w-fit p-4;
}

.article > h1 {
  @apply text-[1.4rem] font-bold;
}
.article > h2,
h3 {
  @apply text-[1.2rem] font-semibold;
}
.article > ul {
  @apply list-disc pl-8;
}
hr {
  @apply py-[1rem];
}
a {
  @apply underline;
}
